@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
  background: black;
  color: white;
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}
